* {
    margin: 0;
    padding: 0;
}

body {
  color: black;
  background-color: #f9fdff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  height: 0.75in;
  border-bottom: 5px solid #c15555;
}

.banner-content {
  padding: 0.125in;
  gap: 0.25in;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-content img {
  height: 0.5in;
}

.webname h1 {
  font-size: 30;
  color: #8a2d2d;
}

.webname h1:hover {
  text-decoration: underline;
}

.main-content {
  height: 80%;
  background-color: #c15555;
  display: flex;
  flex-direction: row;
}

.margin {
  height: 100%;
  width: 1in;
  background-color: #c15555;
}

.left-panel {
  height: 100%;
  width: 3.25in;
  background-color: #f9fdff;
  padding: 0.25in;

  display: flex;
  flex-direction: column;
  gap: 0.5in;
}

.left-panel h1 {
  font-size: 42;
  font-weight: normal;
  margin-top: 0.25in;
}

.login-field {
  font-size: 18;
  display: flex;
  flex-direction: column;
}

.login-field label {
  margin-bottom: 5px;
}

.login-field input {
  width: 3in;
}

.uname {
  margin-bottom: 15px;
}

.forgot-pass {
  font-size: 12;
  color: #8a2d2d;
  width: 3in;
  text-align: end;
}

.forgot-pass p {
  display: inline;
}

.forgot-pass p:hover {
  text-decoration: underline;
}

.button-field {
  width: 3in;
  display: flex;
  flex-direction: row;
  gap: 0.25in;
}

.btn {
  width: 1in;
  background-color: #8a2d2d;
  color: #f9fdff;
  padding: 5px;
  border-radius: 10px;
  text-decoration: none;
}

.btn a {
  color: #f9fdff;
  text-decoration: none;
}

.btn:hover {
  text-decoration: underline;
}

.main-panel {
  flex: 1;
  background-color: #c15555;
  padding: 0.75in;
  padding-right: 0.25;
  display: flex;
  flex-direction: row;
  gap: 0.5in;
}

.event-field {
  width: 8.5in;
  display: flex;
  flex-direction: column;
  gap: 0.5in;
}

.headline {
  color: #f9fdff;
  font-size: 56;
}

.event-list {
  width: 8in;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.event {
  height: 1in;
  padding: 0.25in;
  background-color: #f9fdff;
  display: flex;
  flex-direction: row;
  gap: 0.25in;
}

.event-img img {
  height: 1in;
}

.event-details {
  display: flex;
  flex-direction: column;
  gap: 0.125in;
}

.event-details h3 {
  font-weight: bold;
}

.event-details p {
  text-align: justify;
}

.carousel {
  width: 8in;
  margin-top: -0.5in;
  display: flex;
  justify-content: center;
}

.carousel img {
  height: 1in;
}

.image-field {
  width: 4in;
  overflow: hidden;
}

.image-field img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.footer {
  border-top: 5px solid #c15555;
  background-color: #8a2d2d;
  flex: 1;
}

.footer-content {
  padding: 0.125in;
  text-align: center;
  color: #f9fdff;
}