* {
    margin: 0;
    padding: 0;
}

body {
  color: black;
  background-color: #f9fdff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  height: 0.75in;
  border-bottom: 5px solid #c15555;
}

.banner-content {
  padding: 0.125in;
  gap: 0.25in;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-content img {
  height: 0.5in;
}

.webname h1 {
  font-size: 30;
  color: #8a2d2d;
}

.webname h1:hover {
  text-decoration: underline;
}

.main-content {
  height: 80%;
  background-color: #c15555;
  display: flex;
  flex-direction: row;
}

.navi {
  height: 100%;
  width: 1in;
  background-color: #c15555;

  display: flex;
  flex-direction: column;
  padding-top: 0.5in;
  gap: 0.25in;
  align-items: center;
}

.menu img {
  height: 0.5in;
}

.menu p {
  margin-top: 5px;
}

.menu:hover {
  transform: scale(1.125);
}

.left-panel {
  height: 100%;
  width: 3.25in;
  background-color: #f9fdff;
  padding: 0.25in;

  display: flex;
  flex-direction: column;
  gap: 0.5in;
}

.left-panel h1 {
  font-size: 42;
  font-weight: normal;
  margin-top: 0.25in;
}

.instructions {
  font-size: 21;
  display: flex;
  flex-direction: column;
}

.step {
  height: 0.75in;
  display: flex;
  align-items: center;
  border-bottom: 5px solid #8a2d2d;
}

.main-panel {
  flex: 1;
  background-color: #c15555;
  padding: 0.5in;
  margin-left: 0.25in;
  display: flex;
  flex-direction: row;
  gap: 0.5in;
}

.scanner-field {
  width: 10in;
  display: flex;
  flex-direction: column;
  gap: 0.25in;
}

.headline {
  color: #f9fdff;
  font-size: 56;
}

.camera img {
  width: 85%;
}

.footer {
  border-top: 5px solid #c15555;
  background-color: #8a2d2d;
  flex: 1;
}

.footer-content {
  padding: 0.125in;
  text-align: center;
  color: #f9fdff;
}