* {
  margin: 0;
  padding: 0;
}

body {
  color: black;
  background-color: #f9fdff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.banner {
  height: 0.75in;
  border-bottom: 5px solid #c15555;
}

.banner-content {
  padding: 0.125in;
  gap: 0.25in;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.banner-content img {
  height: 0.5in;
}

.webname h1 {
  font-size: 30;
  color: #8a2d2d;
}

.webname h1:hover {
  text-decoration: underline;
}

.main-content {
  height: 80%;
  background-color: #c15555;
  display: flex;
  flex-direction: row;
}

.navi {
  height: 100%;
  width: 1in;
  background-color: #c15555;

  display: flex;
  flex-direction: column;
  padding-top: 0.5in;
  gap: 0.25in;
  align-items: center;
}

.menu img {
  height: 0.5in;
}

.menu p {
  margin-top: 5px;
}

.menu:hover {
  transform: scale(1.125);
}

.left-panel {
  height: 100%;
  width: 3.25in;
  background-color: #f9fdff;
  padding: 0.25in;

  display: flex;
  flex-direction: column;
  gap: 0.5in;
}

.left-panel h1 {
  font-size: 42;
  margin-top: 0.25in;
}

.donor-info {
  display: flex;
  flex-direction: column;
}

.info-row {
  height: 0.5in;
  display: flex;
  flex-direction: row;
  font-size: 18;
  align-items: center;
  gap: 0.125in;
}

.main-panel {
  flex: 1;
  background-color: #c15555;
  padding: 0.5in;
  margin-left: 0.25in;
  display: flex;
  flex-direction: row;
  gap: 0.5in;
}

.data-field {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 0.25in;
  gap: 0.75in;
}

.data-field h1 {
  color: #f9fdff;
  font-size: 56;
  margin-bottom: -0.5in;
}

.donor-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col-data {
    width: 3.5in;
    display: flex;
    flex-direction: column;
    background-color: #8a2d2d;
    gap: 0.125in;
    padding: 0.25in;
}

.row-data {
    display: flex;
    flex-direction: row;
    font-size: 21;
    color: #f9fdff;
    gap: 0.125in;
    align-items: center;
}

.donor-actions {
    display: flex;
    flex-direction: column;
    gap: 0.5in;
}

.row-act {
    display: flex;
    flex-direction: row;
    background-color: #8a2d2d;
    border-radius: 20px;
    gap: 0.125in;
    padding: 0.25in;
}

.row-act:hover {
    transform: scale(1.03125);
}

.col-act {
    display: flex;
    flex-direction: column;
    font-size: 21;
    color: #f9fdff;
    gap: 0.125in;
}

.headline {
  color: #f9fdff;
  font-size: 56;
}

.camera img {
  width: 85%;
}

.footer {
  border-top: 5px solid #c15555;
  background-color: #8a2d2d;
  flex: 1;
}

.footer-content {
  padding: 0.125in;
  text-align: center;
  color: #f9fdff;
}
